@using Microsoft.AspNetCore.SignalR.Client
@using PlanningPoker.Core.Models
@using PlanningPoker.Shared
@using PlanningPoker.Shared.ViewModels
@using PlanningPoker.Shared.ViewModels.Poker
<div class="card poker_cards">
    <div class="card-body">
        <h5 class="card-title">Poker cards</h5>
        <h6 class="card-subtitle mb-2 text-muted">Click on a card to cast your vote</h6>
        <div class="row">
            @foreach (var card in Cards.Values)
            {
                <div class="col card-wrapper">
                    <button class="btn @(card == _chosenCard ? "btn-success" : "btn-default") poker_card btn-lg" @onclick="() => Vote(card)" disabled="@(!Session.CanVote || CurrentPlayer.Type == PlayerType.Observer)">
                        @card.ToString()
                    </button>
                </div>
            }
        </div>
    </div>
</div>

<div class="row juxtaposed">
    <div class="col col-md-6 left">
        <div class="card session-controls">
            <div class="card-body">
                <h5 class="card-title">Session Controls</h5>
                <h6 class="card-subtitle mb-2 text-muted">Clear all current votes, or show once everyone has voted</h6>
                <div class="row">
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <button class="btn btn-default btn-block clear" @onclick="Clear" disabled="@(!Session.CanClear)">Clear</button>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-6">
                        <button class="btn btn-primary btn-block show" @onclick="Show" disabled="@(!Session.CanShow)">Show</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col col-md-6 right">
        <div class="card session-results">
            <div class="card-body">
                <h5 class="card-title">Session Results</h5>
                <div class="row">
                    @if (Session.IsShown)
                    {
                        <table class="table table-striped">
                            <tbody>
                            <tr>
                                <td>Avg. value</td>
                                <td>@(GetVoteAvg()?.ToString("#.#"))</td>
                            </tr>
                            <tr>
                                <td>Mode value</td>
                                <td>@GetVoteMode()</td>
                            </tr>
                            </tbody>
                        </table>
                    }
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    protected override async Task OnInitializedAsync()
    {
        HubConnection.On(Messages.CLEAR, () =>
        {
            _chosenCard = default;
            StateHasChanged();
        });
    }

    private int _chosenCard;

    async Task Vote(int vote)
    {
        if (_chosenCard == vote)
        {
            _chosenCard = default;
            await HubConnection.SendAsync("UnVote", Id, CurrentPlayer.Id);
        }
        else
        {
            _chosenCard = vote;
            await HubConnection.SendAsync("Vote", Id, CurrentPlayer.Id, vote);
        }
    }

    Task Clear()
    {
        return HubConnection.SendAsync("Clear", Id);
    }

    Task Show()
    {
        return HubConnection.SendAsync("Show", Id);
    }

    int? GetVoteMode()
    {
        return Session?.Votes?
            .GroupBy(pair => IntParseOrDefault(pair.Value))
            .Where(group => group.Key.HasValue)
            .OrderByDescending(group => group.Count())
            .Select(group => group.Key).FirstOrDefault();
    }

    decimal? GetVoteAvg()
    {
        if (!Session.IsShown)
        {
            return default;
        }

        if (Session?.Votes == null || !Session.Votes.Any())
        {
            return default;
        }

        var sum = CalculateSum();
        if(!sum.HasValue)
        {

            return default;
        }

        return sum.Value / Session.Votes.Count;
    }

    decimal? CalculateSum()
    {
        return Session.Votes?.Sum(pair => DecimalParseOrDefault(pair.Value) ?? default);
    }

    decimal? DecimalParseOrDefault(string val)
    {
        var parsed = decimal.TryParse(val, out var parsedResult);
        return parsed ? parsedResult : default;
    }

    int? IntParseOrDefault(string val)
    {
        var parsed = int.TryParse(val, out var parsedResult);
        return parsed ? parsedResult : default;
    }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public EventCallback<string> IdChanged { get; set; }

    [Parameter]
    public PokerSessionViewModel Session { get; set; }

    [Parameter]
    public EventCallback<PokerSessionViewModel> SessionChanged { get; set; }

    [Parameter]
    public PlayerViewModel CurrentPlayer { get; set; }

    [Parameter]
    public EventCallback<PlayerViewModel> CurrentPlayerChanged { get; set; }

    [Parameter]
    public HubConnection HubConnection { get; set; }

    [Parameter]
    public EventCallback<HubConnection> HubConnectionChanged { get; set; }
}
